body
{
    background-color: black;

}
.rectangle1
{
    width:500px;
    height:500px;
    position:absolute;
    /* top:10%;
    left:10%; */
    justify-content: center;
    background-color:#5a9ad5;
    /* font-size: large; */
}



.circle1
{
    position: absolute;
    top:2px;
    height: 500px;
    width: 500px;
    background-color: #ff3201;
    border-radius: 50%;
}

.circle2
{
    position: absolute;
    top:20px;
    left:23px;
    height: 460px;
    width: 460px;
    background-color: #feff01;
    border-radius: 50%;
}

.circle3
{
    position: absolute;
    top:200px;
    left:220px;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
}


.style1 button
{
    width:auto;
    height: fit-content;
    color: white;
    font-size: large;
    background-color: blue;
    border-radius: 0.5em;
    box-shadow: 3em;

}

.square 
{
    position:absolute;
    left:288px;
    top:288px;
    height:10px;
    display:flex;
    justify-content: center;
    background-color:green;
  }