<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz,wght@8..144,500;8..144,600;8..144,700&family=Staatliches&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="#title">
        <h1>Asian Games 2022</h1>
    </div>
    <h1>Hi!!!</h1>
</body>
</html>